table{
    width: 600px;
    border: 1px solid;
    border-color: #C0C0C0;
    border-collapse: collapse;
}

table th{
    height: 30px;
    background-color: darkgray;
}

table tr{
    background-color:#E6E6FA;
    height:43px;
    border-bottom: 1px solid;
    border-bottom-color: #C0C0C0;
}
table td{
    text-align: center;
}
.btn{
    width: 70px;
    height: 30px;
    background-color:#C0C0C0;
}